<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Welcome to CoronaVirus Tracker</title>
</head>

<body>
<h1>CoronaVirus Data</h1>
<table>
    <tr>
    <th>Country</th>
    <th>Total Cases</th>
    <th>New Cases</th>
    </tr>
    <tr th:each="data : ${virusdata}">
        <td th:text="${data.country}"></td>
        <td th:text="${data.latestTotalCases}"></td>
        <td th:text="${data.newCases}"></td>
    </tr>
</table>
</body>
</html>